# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.gitignore
!/README.md
!app/code/local/ItsAPiece/**/*
!app/etc/modules/ItsAPiece_PinkTown.xml
magmi/